<template name="filter">
  <div class="filterHeader">
    <div>
      <a href="#" id="detMinMax" class="pull-left">
        <span id="detMinMaxSpan" class="glyphicon glyphicon-minus"></span>
      </a>
    </div>
    <div><h3> Filter Paths </h3></div>
  </div>  
  <div id="filter">
  	<div id="filterStops">
  		<input type="checkbox" id="stopsCB" value="stops"> Stops: <input type="number" id="stopsInput" value="0">
  	</div>
  	<div id="filterSeats">
  		<input type="checkbox" id="seatsCB" value="totalSeats"> Seats: <input type="number" id="seatsInput" value="0">
  	</div>  
  </div>
</template>