template(name='gritsMapTableSidebar')
     #tableSidebar.sidebarRight.collapsed
       // Nav tabs
       ul.sidebar-toggle.right
         li#sidebar-table-tab
           a(href='#sidebar-table', role='tab')
             i.fa.fa-angle-double-left.fa-white-arrow
             i.fa.fa-table.fa-white-table
       // Tab panes
       .sidebar-content
         #sidebar-table.sidebar-pane
