<template name="gritsMapTableSidebar">
  <div id="tableSidebar" class="sidebarRight collapsed">
        <!-- Nav tabs -->
        <ul class="sidebar-tabs right">
          <li id="sidebar-table-tab"><a href="#sidebar-table" role="tab"><i class="fa fa-angle-double-left fa-white-arrow"></i><i class="fa fa-table fa-white-table"></i></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="sidebar-content">
          <div class="sidebar-pane" id="sidebar-table"></div>
        </div>
    </div>
</template>
