<template name="gritsFilter">
<style>
  .bootstrap-datetimepicker-widget table td.day {
    width: 28px;
  }
</style>
  <div>
    <div class="pull-left">
      <button class="btn btn-sm fa fa-bars" id="toggleFilter"></button>
    </div>
    <div class="spinner">
      <img src="/packages/grits_grits-net-meteor/client/images/ajax-loader.gif" id="filterLoading"/>
    </div>
    <div class="searchBar">
      <div class="tokenized departureSearchMainContainer">
        <input id="departureSearchMain" class="form-control input-sm" name="departureSearchMain" placeholder="Type to search" />
      </div>
    </div>

  </div>
  <div id="filter" style="display:none;">
    <div class="row filter-row">
      <div class="col-xs-12">
        <h3><span class="filter-label">Advanced Filter</span></h3>
      </div>
    </div>
    <div class="row filter-row">
      <div class="col-xs-12">
        <span class="filter-label">Flight Operating Date Range:</span>
      </div>
    </div>
    <div class="row filter-row">
      <div class='col-xs-12'>
          <div class="filter-group">
            <span class="filter-label">Start:</span>
              <div class='input-group date' id='fodStart' style="max-width: 300px;">
                  <input type='text' class="date-button form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
          <div class="filter-group">
            <span class="filter-label">End:</span>
              <div class='input-group date' id='fodEnd' style="max-width: 300px;">
                  <input type='text' class="date-button form-control" />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
      </div>
    </div>
    <div class="row filter-row">
      <div class="col-xs-12">
        <span class="filter-label">Flight days of week:</span>
      </div>
    </div>
    <div class="row filter-row">
      <div class="col-xs-12">
        <div class="filter-group">
          <input type="checkbox" id="dowSUN"> Sun
          <input type="checkbox" id="dowMON"> Mon
          <input type="checkbox" id="dowTUE"> Tue
          <input type="checkbox" id="dowWED"> Wed
          <input type="checkbox" id="dowTHU"> Thu
          <input type="checkbox" id="dowFRI"> Fri
          <input type="checkbox" id="dowSAT"> Sat
        </div>
      </div>
    </div>
    <div class="row filter-row">
      <div class="col-xs-4">
        <span class="filter-label">Weekly Frequency:</span>
      </div>
      <div class="col-xs-4">
        <select id="weekly-frequency-operand" class="form-control input-sm">
          <option value="$gte"><span> &gt;= </span></option>
          <option value="$gt"><span> &gt; </span></option>
          <option value="$lte"><span> &lt;= </span></option>
          <option value="$lt"><span> &lt; </span></option>
          <option value="$eq"><span> == </span></option>
          <option value="$ne"><span> != </span></option>
        </select>
      </div>
      <div class="col-xs-4">
        <input type="number" id="weeklyFrequencyInput" class="form-control input-sm" min="0" max="7">
      </div>
    </div>
    <div class="row filter-row">
      <div class="col-xs-4">
        <span class="filter-label">Stops:</span>
      </div>
      <div class="col-xs-4">
        <select id="stops-operand" class="form-control input-sm">
          <option value="$gte"><span> &gt;= </span></option>
          <option value="$gt"><span> &gt; </span></option>
          <option value="$lte"><span> &lt;= </span></option>
          <option value="$lt"><span> &lt; </span></option>
          <option value="$eq"><span> == </span></option>
          <option value="$ne"><span> != </span></option>
        </select>
      </div>
      <div class="col-xs-4">
        <input type="number" id="stopsInput" class="form-control input-sm" min="0" max="5">
      </div>
    </div>
    <div class="row filter-row">
      <div class="col-xs-4">
        <span class="filter-label">Seats:</span>
      </div>
      <div class="col-xs-4">
        <select id="seats-operand" class="form-control input-sm">
          <option value="$gte"><span> &gt;= </span></option>
          <option value="$gt"><span> &gt; </span></option>
          <option value="$lte"><span> &lt;= </span></option>
          <option value="$lt"><span> &lt; </span></option>
          <option value="$eq"><span> == </span></option>
          <option value="$ne"><span> != </span></option>
        </select>
      </div>
      <div class="col-xs-4">
        <input type="number" id="seatsInput" class="form-control input-sm" min="0" max="525">
      </div>
    </div>
    <div class="row filter-row">
      <div class="col-xs-4">
        <span class="filter-label">Departure:</span>
      </div>
      <div class="col-xs-8">
        <div class="tokenized">
          <input id="departureSearch" class="input-sm" name="departureSearch" placeholder="Type to search" />
        </div>
      </div>
    </div>
    <div class="row filter-row">
      <div class="col-xs-4">
        <span class="filter-label">Arrival:</span>
      </div>
      <div class="col-xs-8">
        <div class="tokenized">
          <input type="text" id="arrivalSearch" class="input-sm" name="arrivalSearch" placeholder="Type to search"/>
        </div>
      </div>
    </div>
    <div class="row filter-row">
      <div class="col-xs-4">
        <span class="filter-label">Levels:</span>
      </div>
      <div class="col-xs-4">
        <input type="number" id="connectednessLevels" min="1" value="1" class="form-control input-sm">
      </div>
    </div>
    <div class="row filter-row">
      <div class="col-xs-4">
        <span class="filter-label">Limit:</span>
      </div>
      <div class="col-xs-4">
        <input type="number" id="limit" class="form-control input-sm" value="1000">
      </div>
      <div class="col-xs-4">
        <button id="loadMore" class="btn btn-sm btn-default pull-right" disabled="true">
          <span class="filter-label">More...</span> <img src="/packages/grits_grits-net-meteor/client/images/ajax-loader.gif" id="moreLoading" style="display: none;"/>
        </button>
      </div>
    </div>
    <div class="row filter-row">
      <div class="col-xs-12">
        <button id="applyFilter" class="btn btn-sm btn-default">
          <span class="filter-label">Apply</span> <img src="/packages/grits_grits-net-meteor/client/images/ajax-loader.gif" id="filterLoading"/>
        </button>
        <hr class="filter-horizontal-rule clearfix" />
        <span class="pull-left" style="margin-left:10px;"><span class="filter-label">Loaded Records: </span><span>{{ loadedRecords }}</span></span>
        <span class="pull-right" style="margin-right:10px;"><span class="filter-label">Total Records: </span><span>{{ totalRecords }}</span></span>
      </div>
    </div>
  </div>
</template>
