<template name="gritsFilter">
<style>
  .bootstrap-datetimepicker-widget table td.day {
    width: 28px;
  }
</style>
  <div>
    <div class="hamburger">
      <button class="btn btn-sm fa fa-bars" id="toggleFilter">
      </button>
      {{#if state }}
        <i class="fa fa-exclamation-circle filter-status" title="Recent changes have not been applied"></i>
      {{/if}}
    </div>
    <div class="spinner">
      <i id="filterLoading" class="fa fa-spinner fa-spin"></i>
    </div>
    <div class="searchBar">
      <div class="tokenized main">
        <input id="departureSearchMain" class="form-control input-sm advanced-filter-status" name="departureSearchMain" placeholder="Type to search" />
      </div>
    </div>
  </div>
  <div id="filter" class="clearfix">
    <div class="row filter-row">
      <div class="col-xs-12">
        <span class="filter-heading">Advanced Filter</span>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#flight" data-toggle="tab">Flight</a></li>
      <li><a href="#date" data-toggle="tab">Date</a></li>
    </ul>    
    <div class="tab-content">      
      <div class="tab-pane active" id="flight">
        <!-- start flight tab content -->
        <div class="row filter-row">
          <div class="col-xs-12">
            <span class="filter-label">Departure:</span>
          </div>
        </div>
        <div class="row filter-row">
          <div class="col-xs-11">
            <div class="tokenized departure">
              <input id="departureSearch" class="input-sm advanced-filter-status" name="departureSearch" />
            </div>
          </div>
          <div class="col-xs-1"></div>
        </div>
        <div class="row fliter-row">
          <div class="col-xs-8" style="text-align: right;">
            <span>Include Nearby:</span>
          </div>
          <div class="col-xs-3" style="padding: 2px 15px 2px 15px;">
            <input type="checkbox" name="includeNearbyAirports" id="includeNearbyAirports">
          </div>
          <div class="col-xs-1"></div>
        </div>
        <div class="row filter-row">
          <div class="col-xs-8" style="text-align: right;">
            <span>Miles:</span>
          </div>
          <div class="col-xs-3">
            <input type="number" id="includeNearbyAirportsRadius" class="form-control input-sm" min="1" max="500" value="50">
          </div>
          <div class="col-xs-1"></div>
        </div>
        <div class="row filter-row">
          <div class="col-xs-12">
            <span class="filter-label">Arrival:</span>
          </div>
        </div>
        <div class="row filter-row">
          <div class="col-xs-11">
            <div class="tokenized arrival">
              <input type="text" id="arrivalSearch" class="input-sm advanced-filter-status" name="arrivalSearch" />
            </div>
          </div>
        </div>
        <div class="row filter-first-row">
          <div class="col-xs-12">
            <span class="filter-label">Stops:</span>
          </div>
        </div>
        <div class="row filter-row">
          <div class="col-xs-3">
            <select id="stops-operand" class="form-control input-sm advanced-filter-status">
              <option value="$gte"><span> &gt;= </span></option>
              <option value="$gt"><span> &gt; </span></option>
              <option value="$lte"><span> &lt;= </span></option>
              <option value="$lt"><span> &lt; </span></option>
              <option value="$eq"><span> == </span></option>
              <option value="$ne"><span> != </span></option>
            </select>
          </div>
          <div class="col-xs-3">
            <input type="number" id="stopsInput" class="form-control input-sm advanced-filter-status" min="0" max="5">
          </div>
          <div class="col-xs-6"></div>
        </div>
        <div class="row filter-row">
          <div class="col-xs-12">
            <span class="filter-label">Seats:</span>
          </div>
        </div>
        <div class="row filter-row">
          <div class="col-xs-3">
            <select id="seats-operand" class="form-control input-sm advanced-filter-status">
              <option value="$gte"><span> &gt;= </span></option>
              <option value="$gt"><span> &gt; </span></option>
              <option value="$lte"><span> &lt;= </span></option>
              <option value="$lt"><span> &lt; </span></option>
              <option value="$eq"><span> == </span></option>
              <option value="$ne"><span> != </span></option>
            </select>
          </div>
          <div class="col-xs-3">
            <input type="number" id="seatsInput" class="form-control input-sm advanced-filter-status" min="0" max="525">
          </div>
          <div class="col-xs-6"></div>
        </div>        
        <div class="row filter-row">
          <div class="col-xs-12">
            <span class="filter-label">Levels:</span>
          </div>
        </div>
        <div class="row filter-last-row">
          <div class="col-xs-3">
            <input type="number" id="connectednessLevels" min="1" value="1" class="form-control input-sm advanced-filter-status">
          </div>          
        </div>
        <!-- end flight tab content -->
      </div>
      <div class="tab-pane" id="date">
        <!-- start date tab content -->
        <div class="row filter-first-row">
          <div class="col-xs-12">
            <span class="filter-label">Operating Date Range:</span>
          </div>
        </div>
        <div class="row filter-row">
          <div class='col-xs-12'>
              <div class="filter-group">
                <span>Start:</span>
                  <div class='input-group date' id='fodStart' style="max-width: 300px;">
                      <input type='text' class="date-button form-control input-sm" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>
              <div class="filter-group">
                <span>End:</span>
                  <div class='input-group date' id='fodEnd' style="max-width: 300px;">
                      <input type='text' class="date-button form-control input-sm" />
                      <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                      </span>
                  </div>
              </div>
          </div>
        </div>
        <div class="row filter-row">
          <div class="col-xs-12">
            <span class="filter-label">Days of Week:</span>
          </div>
        </div>
        <div class="row filter-row">
          <div class="col-xs-3">
            <span>Sun:</span>
            <select id="dowSUN" class="form-control dow input-sm advanced-filter-status">
              <option value=""></option>
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </div>
          <div class="col-xs-3">
            <span>Mon:</span>
            <select id="dowMON" class="form-control dow input-sm advanced-filter-status">
              <option value=""></option>
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </div>
          <div class="col-xs-3">
            <span>Tue:</span>
            <select id="dowTUE" class="form-control dow input-sm advanced-filter-status">
              <option value=""></option>
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </div>
        </div>
        <div class="row filter-row">
          <div class="col-xs-3">
            <span>Wed:</span>
            <select id="dowWED" class="form-control dow input-sm advanced-filter-status">
              <option value=""></option>
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </div>
          <div class="col-xs-3">
            <span>Thu:</span>
            <select id="dowTHU" class="form-control dow input-sm advanced-filter-status">
              <option value=""></option>
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </div>
          <div class="col-xs-3">
            <span>Fri:</span>
            <select id="dowFRI" class="form-control dow input-sm advanced-filter-status">
              <option value=""></option>
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </div>
        </div>
        <div class="row filter-row">
          <div class="col-xs-3">
            <span>Sat:</span>
            <select id="dowSAT" class="form-control dow input-sm advanced-filter-status">
              <option value=""></option>
              <option value="true">True</option>
              <option value="false">False</option>
            </select>
          </div>
          <div class="col-xs-3"></div>
          <div class="col-xs-3"></div>
        </div>
        <div class="row filter-row">
          <div class="col-xs-12">
            <span class="filter-label">Weekly Frequency:</span>
          </div>
        </div>
        <div class="row filter-last-row">
          <div class="col-xs-3">
            <select id="weekly-frequency-operand" class="form-control input-sm advanced-filter-status">
              <option value="$gte"><span> &gt;= </span></option>
              <option value="$gt"><span> &gt; </span></option>
              <option value="$lte"><span> &lt;= </span></option>
              <option value="$lt"><span> &lt; </span></option>
              <option value="$eq"><span> == </span></option>
              <option value="$ne"><span> != </span></option>
            </select>
          </div>
          <div class="col-xs-3">
            <input type="number" id="weeklyFrequencyInput" class="form-control input-sm advanced-filter-status" min="0" max="7">
          </div>
          <div class="col-xs-6"></div>
        </div>
        <!-- end date tab content -->
      </div>
    </div>
    <div class="filter-footer">
      <div class="row filter-row">
        <div class="col-xs-3">
          <span class="filter-label">Limit:</span>
        </div>
        <div class="col-xs-4">
          <input type="number" id="limit" class="form-control input-sm advanced-filter-status" value="1000">
        </div>
        <div class="col-xs-5">
          <button id="loadMore" class="btn btn-sm btn-default pull-right" disabled="true">
            <span class="filter-label">More...</span> <img src="/packages/grits_grits-net-meteor/client/images/ajax-loader.gif" id="moreLoading" style="display: none;"/>
          </button>
        </div>
      </div>
      <div class="row filter-row">
        <div class="col-xs-12">
          <button id="applyFilter" class="btn btn-sm btn-default">
            <span class="filter-label">Apply</span> <img src="/packages/grits_grits-net-meteor/client/images/ajax-loader.gif" id="filterLoading"/>          
          </button>        
          {{#if state }}
            <span class="filter-status-message">Recent changes have not been applied</span><i class="fa fa-exclamation-circle filter-status"></i>
          {{/if}}          
        </div>
      </div>    
      <div class="row row-status-bar">
        <div class="col-xs-6 col-status-bar">
          <span class="status-bar-text">Loaded Records:</span>
          <span class="status-bar-text status-bar-counter">{{ loadedRecords }}</span>
        </div>
        <div class="col-xs-6 col-status-bar">
          <span class="status-bar-text">Total Records:</span>
          <span class="status-bar-text status-bar-counter">{{ totalRecords }}</span>
        </div>
      </div>  
    </div>
  </div>
</template>
