<template name="gritsDataTable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#paths" data-toggle="tab" id="pathTab">{{_ "gritsDataTable.tab-1.title"}}</a></li>
    <li><a href="#nodes" data-toggle="tab" id="nodeTab">{{_ "gritsDataTable.tab-2.title"}}</a></li>
    <li><a href="#heatmap" data-toggle="tab" id="heatmapTab">{{_ "gritsDataTable.tab-3.title"}}</a></li>
  </ul>
  <div class="tableDivider"></div>
  <div class="tab-content dataTableContent">
    <div class="tab-pane active" id="paths">
      <div class="pathsTableContainer">
        <table id="pathsTable" class="table dataTable">
          <thead>
            <tr>
              <th>{{_ "gritsDataTable.tab-1.origin-heading"}}</th>
              <th>{{_ "gritsDataTable.tab-1.destination-heading"}}</th>
              <th>{{_ "gritsDataTable.tab-1.occurrances-heading"}}</th>
              <th>{{_ "gritsDataTable.tab-1.throughput-heading"}}</th>
            </tr>
          </thead>
          <tbody>
            {{#with paths}}
              {{#each paths}}
                <tr class="pathTableRow" data-id="{{this._id}}" >
                  <td>
                    {{this.origin._id}}
                  </td>
                  <td>
                    {{this.destination._id}}
                  </td>
                  <td>
                    {{this.occurrances}}
                  </td>
                  <td>
                    {{this.throughput}}
                    <div class="circle" style="background-color: {{getPathThroughputColor this}}"></div>
                  </td>
                </tr>
              {{/each}}
            {{else}}
              <tr>
                <td colspan="4">
                  <span style="font-style: italic;">No data</span>
                </td>
              </tr>
            {{/with}}
          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane" id="nodes">
      <table id="nodesTable" class="table dataTable">
        <thead>
          <tr>
            <th>{{_ "gritsDataTable.tab-2.code-heading"}}</th>
            <th>{{_ "gritsDataTable.tab-2.incoming-heading"}}</th>
            <th>{{_ "gritsDataTable.tab-2.outgoing-heading"}}</th>
            <th>{{_ "gritsDataTable.tab-2.total-heading"}}</th>
          </tr>
        </thead>
        <tbody class="dataTableBody">
          {{#with nodes}}
            {{#each nodes}}
              <tr class="nodeTableRow" data-id="{{this._id}}">
                <td>
                  {{this._id}}
                </td>
                <td>
                  {{this.incomingThroughput}}
                </td>
                <td>
                  {{this.outgoingThroughput}}
                </td>
                <td>
                  {{this.total}}
                  <div class="circle" style="background-color: {{getNodeThroughputColor this}}"></div>
                </td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
              <td colspan="4">
                <span style="font-style: italic;">No data</span>
              </td>
            </tr>
          {{/with}}
        </tbody>
      </table>
    </div>
    <div class="tab-pane" id="heatmap">
      <table id="heatmapTable" class="table dataTable">
        <thead>
          <tr>
            <th>{{_ "gritsDataTable.tab-3.code-heading"}}</th>
            <th>{{_ "gritsDataTable.tab-3.latitude-heading"}}</th>
            <th>{{_ "gritsDataTable.tab-3.longitude-heading"}}</th>
            <th>{{_ "gritsDataTable.tab-3.intensity-heading"}}</th>
          </tr>
        </thead>
          <tbody>
          {{#with heatmaps}}
            {{#each heatmaps}}
              <tr class="heatmapTableRow" data-id="{{this._id}}">
                <td>
                  {{this.code}}
                </td>
                <td>
                  {{this.latitude}}
                </td>
                <td>
                  {{this.longitude}}
                </td>
                <td>
                  {{this.intensity}}
                </td>
              </tr>
            {{/each}}
          {{else}}
            <tr>
              <td colspan="4">
                <span style="font-style: italic;">No data</span>
              </td>
            </tr>
          {{/with}}
        </tbody>
      </table>
    </div>
  </div>
  <div class="sidebarRightFooter">
    <div class="export">
      <i class="fa fa-cloud-download downloadIcon"></i>
      <button type="button" class="btn btn-sm btn-default exportData" data-type="json">JSON</button>
      <button type="button" class="btn btn-sm btn-default exportData" data-type="csv">CSV</button>
      <button type="button" class="btn btn-sm btn-default exportData" data-type="xml">XML</button>
      <button type="button" class="btn btn-sm btn-default exportData" data-type="excel">XLSX</button>
    </div>
  </div>
</template>
