<template name="gritsMapSidebar">
  <style>
  .sidebar {
    width: 550px;
  }
  </style>
  <div id="sidebar" class="sidebar sidebar-left collapsed" style="top:75px;">
        <!-- Nav tabs -->
        <ul class="sidebar-tabs">
            <li id="sidebar-advanced-filter-tab"><a href="#sidebar-advanced-filter" role="tab"><i class="fa fa-filter"></i></a></li>
            <li id="sidebar-flightData-tab"><a href="#sidebar-flightData" role="tab"><i class="fa fa-th"></i></a></li>
            <li id="sidebar-slider-tab"><a href="#sidebar-slider" role="tab"><i class="fa fa-sliders"></i></a></li>
            <li id="sidebar-layer-tab"><a href="#sidebar-layer" role="tab"><i class="fa fa-map-o"></i></a></li>
        </ul>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="sidebar-advanced-filter"></div>
            <div class="sidebar-pane" id="sidebar-flightData"></div>
            <div class="sidebar-pane" id="sidebar-slider">Sub-filter Settings</div>
            <div class="sidebar-pane" id="sidebar-layer">Tile Layers</div>
        </div>
    </div>
</template>
