head
    link(rel="icon" href="/packages/grits_grits-net-meteor/client/images/flirt.png")
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,700italic,400italic' rel='stylesheet' type='text/css')
    title FLIRT
