<template name="legend">
  <div class='my-legend'>
    <div class='legend-title'>Path Throughput</div>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <li><span style='background:#fef0d9;'></span>20%</li>
        <li><span style='background:#fdcc8a;'></span>40%</li>
        <li><span style='background:#fc8d59;'></span>60%</li>
        <li><span style='background:#e34a33;'></span>80%</li>
        <li><span style='background:#b30000;'></span>100%</li>
      </ul>
    </div>
    <div class='legend-title'>Node Throughput</div>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <li><span style='background:#A8A8A8;'></span>20%</li>
        <li><span style='background:#888888;'></span>40%</li>
        <li><span style='background:#686868;'></span>60%</li>
        <li><span style='background:#484848;'></span>80%</li>
        <li><span style='background:#282828;'></span>100%</li>
      </ul>
    </div>
    <div class='legend-source'>Path and node throughput percentage is normalized using current filtered paths</div>
  </div>
</template>
