<template name="legend">
  <div class='my-legend'>
    <div class='legend-title'>Path Throughput</div>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <li><span style='background:#89B3FB;'></span>20%</li>
        <li><span style='background:#A69ED5;'></span>40%</li>
        <li><span style='background:#C488AE;'></span>60%</li>
        <li><span style='background:#E17288;'></span>80%</li>
        <li><span style='background:#FE5D62;'></span>100%</li>
      </ul>
    </div>
    <div class='legend-title'>Node Throughput</div>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <li><span style='background:#F9A839;'></span>20%</li>
        <li><span style='background:#F9B747;'></span>40%</li>
        <li><span style='background:#F9C656;'></span>60%</li>
        <li><span style='background:#F9D564;'></span>80%</li>
        <li><span style='background:#F9E573;'></span>100%</li>
      </ul>
    </div>
    <div class='legend-source'>Path and node throughput percentage is normalized using current filtered paths</div>
  </div>
</template>
