<template name="legend">
  <div class='my-legend'>
    <div class='legend-title'>Path Throughput</div>
    <div class='legend-scale'>
      <ul class='legend-labels'>
        <li><span style='background:#45034f;'></span>25%</li>
        <li><span style='background:#345b89;'></span>50%</li>
        <li><span style='background:#48c562;'></span>75%</li>
        <li><span style='background:#f9e71d;'></span>100%</li>
      </ul>
    </div>
    <div class='legend-source'>Path throughput percentage is normalized using current filtered paths</div>
  </div>
</template>
