<template name="map">
  <div id="moduleSelector" class="btn-group" role="group" aria-label="...">
	  <button id="moduleA" type="button" class="btn btn-default a">a</button>
    <button id="moduleB" type="button" class="btn btn-default b">b</button>
  	<button id="moduleC" type="button" class="btn btn-default c">c</button>
  	<button id="moduleD" type="button" class="btn btn-default d">d</button>
    <button id="moduleE" type="button" class="btn btn-default e">e</button>
  </div>
  <div id="filterContainer">
    <div class="filterHeader">
      <div>
        <a href="#" id="detMinMax" class="pull-left">
          <span id="detMinMaxSpan" class="glyphicon glyphicon-minus"></span>
        </a>
      </div>
      <div><h3> Filter Paths </h3></div>
    </div>
    <div id="filter">
      Flight days of week:
      <div id="filterDOW">
        <input type="checkbox" id="dowSUN" value="totalSeats">Sun
        <input type="checkbox" id="dowMON" value="totalSeats">Mon
        <input type="checkbox" id="dowTUE" value="totalSeats">Tue
        <input type="checkbox" id="dowWED" value="totalSeats">Wed
        <input type="checkbox" id="dowTHU" value="totalSeats">Thu
        <input type="checkbox" id="dowFRI" value="totalSeats">Fri
        <input type="checkbox" id="dowSAT" value="totalSeats">Sat
      </div>
      <div id="filterDIW">
      	<input type="checkbox" id="weeklyFrequencyCB" value="diw"> Weekly Frequency: <input type="number" id="weeklyFrequencyInput" min="0" max="7" value="0">
	  </div>
      <div id="filterStops">
        Stops: <input type="number" id="stopsInput" value="">
      </div>
      <div id="filterSeats">
        Seats: <input type="number" id="seatsInput" value="">
      </div>
      <div>
        Departure: {{> inputAutocomplete id="departureSearch" name="departureSearch" settings=departureAirports }}
      </div>
      <div>
        Arrival: {{> inputAutocomplete id="arrivalSearch" name="arrivalSearch" settings=arrivalAirports }}
      </div>
      <button id="applyFilter">
        Apply
      </button>
    </div>
  </div>
  <div id="grits-map" class="map"></div>
</template>

<template name="airportPill">
    <span class="airportPill">Airport: {{_id}} - {{name}}</span>
</template>
