<template name="nodeDetails">
  <div id="nodeDetailsDiv" class="detailsDiv">
    <div class="node-detail-header">
        <button type="button" class="close node-detail-close" data-parent-id="nodeDetailsDiv" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="filter-title"> Node Details </span>
    </div>
    <div id="nodeDetails" class="node-detail-container">
      <div class="row node-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">Level:</span>
          {{this.level}}
        </div>
      </div>
      <div class="row node-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">Code:</span>
          {{this._id}}
        </div>
      </div>
      <div class="row node-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">Name:</span>
          {{this.metadata.name}}
        </div>
      </div>
      <div class="row node-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">City:</span>
          {{this.metadata.city}}
        </div>
      </div>
      <div class="row node-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">Country:</span>
          {{this.metadata.countryName}}
        </div>
      </div>
      <div class="row node-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">Region:</span>
          {{this.metadata.globalRegion}}
        </div>
      </div>
      <div class="row node-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">Incoming:</span>
          {{this.incomingThroughput}}
        </div>
      </div>
      <div class="row node-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">Outgoing:</span>
          {{this.outgoingThroughput}}
        </div>
      </div>
    </div>
  </div>
</template>
