<template name="nodeDetails">
  <div class="nodeDetailsHeader">
    <div>
      <a href="#" id="detMinMax" class="pull-left">
        <span id="detMinMaxSpan" class="glyphicon glyphicon-minus"></span>
      </a>
    </div>
    <div><h3> Node Details </h3></div>
  </div>
  <br>
  <div id="nodeDetails">
    <div><b>City : </b> {{this.city}} </div>
    <div><b>Code : </b> {{this.code}} </div>
    <div><b>Country : </b> {{this.country}} </div>
    <div><b>Country Name: </b> {{this.countryName}} </div>
    <div><b>Global Region : </b> {{this.globalRegion}} </div>
    <div><b>Name: </b> {{this.name}} </div>
    <div><b>Notes : </b> {{this.notes}} </div>
    <div><b>State : </b> {{this.state}} </div>
    <div><b>State Name : </b> {{this.stateName}} </div>
    <div><b>WAC : </b> {{this.wac}} </div> 
    <div><b>key : </b> {{this.key}} </div>        
  </div>
</template>