<template name="pathDetails">
  <div id="pathDetailsDiv" class="detailsDiv">
    <div class="path-detail-header">
        <button type="button" class="close path-detail-close" data-parent-id="pathDetailsDiv" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="filter-title"> Path Details </span>
    </div>
    <div id="pathDetails" class="path-detail-container">
      <div class="row path-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">Level:</span>
          {{this.level}}
        </div>
      </div>
      <div class="row path-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">ID:</span>
          {{this._id}}
        </div>
      </div>
      <div class="row path-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">Occurrances:</span>
          {{this.occurrances}}
        </div>
      </div>
      <div class="row path-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">Weight:</span>
          {{this.weight}}
        </div>
      </div>
      <div class="row path-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">Origin:</span>
          {{this.origin.metadata.city}}
        </div>
      </div>
      <div class="row path-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">Destination:</span>
          {{this.destination.metadata.city}}
        </div>
      </div>
      <div class="row path-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">%:</span>
          {{this.normalizedPercent}}
        </div>
      </div>
      <div class="row path-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">Stops:</span>
          {{this.metadata.stops}}
        </div>
      </div>
      <div class="row path-detail-row">
        <div class="col-xs-12">
          <span class="filter-label">Throughput:</span>
          {{this.throughput}}
        </div>
      </div>
    </div>
  </div>
</template>
