fonts = arial, helvetica, sans-serif
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

html, body
	margin 0
	padding 0

body
	font-family arial

.tokenized
  word-wrap normal

.spinner
  position relative
  right 15px
  float right
  margin 5px 0px 0px 0px

.searchBar
  width 300px
  margin 5px 5px 5px 50px
#nodeDetailsDiv, #pathDetailsDiv
  font-size small
  background-color white
  border-radius 5px
  width 100%
  overflow hidden

.node-detail-header, .path-detail-header
  background-color #eee
  padding 5px
  min-width initial
  border-radius 2px

.node-detail-container, .path-detail-container
  margin-top 5px

.node-detail-row, .path-detail-row
  margin 2px -15px 2px -15px

.node-detail-close, .path-detail-close
  line-height inherit

.marker-icon
  cursor pointer

#filterContainer
  font-size small

	background-color white
	padding 15px
	border-radius 5px

#filterLoading
	position relative
	display none
	vertical-align middle

.applyFilter
	padding 5px

#filter
  font-size small
	margin-top 0

.filter-horizontal-rule
  margin 2px 0 2px 0

.filter-row
	margin 2px -15px 2px -15px

.filter-header
	background-color #eee
	padding 5px
	min-width initial
	border-radius 2px

.filter-title
	display inline
	vertical-align middle
	font-weight bold
	margin 0 0 0 5px

.filter-label
	font-weight bold

.filter-group
	white-space nowrap
	padding 2px

.airportPill
	font-size small
	color #343434

.leaflet-container
  background-color #CDD2D4

.leaflet-control-layers-toggle
	background-image url(packages/fuatsengul_leaflet/images/layers.png)
	width 36px
	height 36px

.leaflet-retina .leaflet-control-layers-toggle
	background-image url(packages/fuatsengul_leaflet/images/layers.png)
	width 36px
	height 36px

#mapLegendPanel
	width 180px

p.intro
	line-height 1.5
	margin 5px 0 35px 0
	font-size larger

.legend
	font-size smaller
	font-weight bold
	margin-left 20px
	display inline-block
  position relative
	top -22px
	text-align left

.legendBlock
	width 17px
	height 17px
	vertical-align middle
	display inline-block

#container
	width 100%
	height 100%

.title
	margin-top 0
	margin-bottom 10px
	text-align center

.notice
	margin 10px 0 5px 0
	line-height 1.5
	text-align center

.info
	padding 6px 8px
	font 14px/16px fonts
	background white
	background rgba(white, 1)
	box-shadow 0 0 15px rgba(black, 0.2)
	border-radius 5px

@media all and (max-width: 480px)
	/* styles for iPhone/Android landscape (and really narrow browser windows) */
	.notice
		font-size: 11px

@media all and (max-width: 320px)
	/* styles for iPhone/Android portrait */
	.notice
		font-size 11px

@media all and (max-width: 240px)
	/* styles for smaller devices */
	.notice
		font-size 11px

.path-detail, .node-detail
	width 320px
	height 250px
	overflow auto

.my-legend .legend-title
  text-align left
  margin-bottom 8px
  font-weight bold
  font-size 90%

.my-legend .legend-scale ul
  margin 0
  padding 0
  float left
  list-style none

.my-legend .legend-scale ul li
  display block
  float left
  width 50px
  margin-bottom 6px
  text-align center
  font-size 80%
  list-style none

.my-legend ul.legend-labels li span
  display block
  float left
  height 15px
  width 50px

.my-legend .legend-source
  font-size 70%
  color #999
  clear both
  width 200px

.my-legend a
  color #777
