border-radius()
  border-radius arguments

filter-tab-content-background-color()
  background-color #ffffff

filter-container-width()
  width $sidebar-width

dataTable-container-width()
  width 550px

layer-container-width()
  width $sidebar-width

verticallyCenter($position=true)
  if $position
    position absolute
  top 50%
  transform translate(0,-50%)

primaryFont()
  font-family $primary-font, sans-serif
