.sidebar
  box-shadow none

.sidebar-content
  background $whiteBG

#sidebar-plus-button
#sidebar-minus-button
  color white

.sidebar-zoom-in
  background #496c8a
  overflow hidden
  position absolute
  bottom 40px
  left 60px

.sidebar-zoom-out
  background #496c8a
  overflow hidden
  position absolute
  bottom 5px
  left 60px

.sidebar-zoom-out:hover
.sidebar-zoom-in:hover
  background #496c8a
  opacity .75

.fa-white
  font-size 2em
  color white

.fa-white-table
  font-size 1.5em
  color white

.fa-white-arrow
  font-size 1.5em
  color white

#sidebar
  overflow visible

#sidebar-flightData-tab
  position absolute
  bottom 50%
  background #496c8a
  border-radius 4px
  height 32px
  line-height 40px

#sidebar-flightData-tab > a
  line-height 35px

.sidebar-pane
  width 410px
